@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500&family=Inter&family=Open+Sans&family=Quintessential&display=swap');

*{
    padding: 0;
    margin: 0;
}

.div_conteineright{
    padding: 30px 25px 30px 35px;
}
.div_conteinerleft{
    padding: 30px 35px 30px 20px;
}
.art_conteiner{
    margin: 30px 0px;
}
#mapa{
    width: 100%;
    height: 75vh;
}
.tittle-center{
    margin-top: 50px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#div-top {
    margin-top: 690px;
    margin-bottom: 20px;
}
#div-top-simple{
    margin-top: 100px;
    margin-bottom: 20px;
}
.img-tittle {
    height: 450px;
    width: 450px;
}
.divblack{
    background-color: rgb(10, 10, 10);
}

/*-------------------MENÚ/FOOTER------------------------*/
nav{
    background-color: rgb(10, 10, 10);
}
.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
footer{
    background-color:  rgb(10, 10, 10);
    height: 40px;
    padding-top: 5px;
}

#principal {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../Img/blog_covid_v1-overlay-overlay.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.blackfond {
    color: white;
    text-align: center;
    background-color: black;
    background: rgba( 5, 7, 12, 0.70);
}
.img_icon {
    height: auto;
    width: 50%;
}

