body{
    color: white;
    font-size: 1rem;
    font-family: 'Inter', 'sans-serif', 'Staatliches';
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/portada.png) no-repeat center center fixed !important;
}
h1 h2 h3 h4{
    font-weight: bolder;
}
h1{
    font-size: 2.7rem;
    &.tittle_one{
        text-shadow: 0 0 0.2em black, 0 0 0.2em black,
		0 0 0.2em black;
        font-weight: border;
    }
}
h2{
    font-size: 2rem;
    &.phase_style {
        font-family: 'Staatliches';
        font-size: 4rem;
        font-weight: bolder;
        color: rgb(38, 74, 143);
        text-shadow: -1px 0 white, 0 1px white,
        1px 0 white, 0 -1px white,  black 0.1em 0.1em 0.2em;
    }
}
h3{
    font-size: 1.7rem;
    &.small-margin-top {
        margin-top: 40px;
    }
}
h4{
    font-size: 1.4rem;
    &.buss_tittle{
        color:white;
        font-weight: bolder;
        margin-top: 1rem;
        text-shadow: 0 0 0.1em black, 0 0 0.1em black,
		0 0 0.1em black;
    }
}

//----------Mixin-----------//
@mixin box-transition {
    background-color: #212424;
    border: 1px solid #212424;
    margin: 20px;
    -webkit-box-shadow: 3px 5px 6px 3px rgba(0,0,0,0.83); 
    box-shadow: 3px 5px 6px 3px rgba(0,0,0,0.83);
    transition: height 2s, width 1s;
}

section{
    &#margintop{
        margin-top: 100px;
    }
    &.sectionflex{
        display: flex;
        flex-direction: column;
    }
    article{
        &.blackbox {
            color: white;
            text-align: center;
            background-color: black;
            background: rgba( 5, 7, 12, 0.40);
            margin-left: 100px;
            margin-right: 100px; 
        }
        div{
            ul{
                li{
                    &.nonstyle{
                        list-style: none;
                    }
                }
            }
        }
        
    }
    div{
        &#divempresa{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 30px;
        }
        &.borderconteiner{
            @include box-transition; 
        }
        article{
            img{
                width: 100%;
                height: auto;
            }
            &.artempresa{
                width: 260px;
                height: 250px;
                @include box-transition;
                &:hover{
                    height: 280px;
                    width: 290px;
                }
            }
        }
    }
}
@media screen and (max-width: 988px) {
    h1{
        font-size: 1.4rem;
        &.tittle_one{
            text-shadow: 0 0 0.2em black, 0 0 0.2em black,
            0 0 0.2em black;
            font-weight: border;
        }
    }
    h2{
        font-size: 1.2rem;
        &.phase_style {
            align-items: center;
            font-family: 'Staatliches';
            font-size: 2rem;
            font-weight: border;
            color: rgb(38, 74, 143);
            text-shadow: -0.5px 0 white, 0 0.5px white,
            0.5px 0 white, 0 -0.5px white;
        }
    }
    h3 {
        font-size: 1rem;
        &.small-margin-top {
            margin-top: 20px;
        }
    }
    h4{
        font-size: 1rem;
        &.buss_tittle{
            color:white;
            font-weight: bolder;
            margin-top: 0.8rem;
            text-shadow: 0 0 0.1em black, 0 0 0.1em black,
            0 0 0.1em black;
        }
    }
    body{
        font-size: 0.8rem;
    }
    .style-icon{
        font-size: 1rem;
    }
}

